PORT=3001
DATABASE_URL=
DB_HOST=SEU_HOST_SUPABASE
DB_PORT=5432
DB_NAME=postgres
DB_USER=SEU_USUARIO_SUPABASE
DB_PASSWORD=SUA_SENHA_SUPABASE
DB_SSL=true
JWT_SECRET=gere_um_valor_unico_com_openssl_rand_hex_32
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-app-password-google
SMTP_FROM_EMAIL=seu-email@gmail.com
SMTP_FROM_NAME=Gestão e Limpeza
